<section class="section">

	{{#each errors}}
	<div class="notification is-danger is-light">
		{{!-- <button class="delete"></button> --}}
		{{text}}
		{{errors.length--}}
	</div>
	{{else}}

	{{/each}}

	<form action="/ideas/{{idea._id}}?_method=PUT" method="post">
	<input type="hidden" name="_method" value="PUT">

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Title</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						<input class="input is-normal" type="text" placeholder="Set name for your idea" name="title" value="{{idea.title}}">
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Details</label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						<textarea class="textarea" name="details" placeholder="Explain your idea">{{idea.details}}</textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-warning">
          Update
        </button>
      </div>
    </div>
  </div>

		</form>
</section>